@model IEnumerable<Event>

@{
    ViewBag.Title = "Event | Index";
}

@section head {
    <style>
        .popup {
            width: 100px;
            height: 100px;
        }
    </style>
}

<p>@Model.Count() record(s)</p>

<table class="table">
    <tr>
        <th>EventID</th>
        <th>EventTitle</th>
        <th>EventDate</th>
		<th>EventLocation</th>
		<th>EventDescription</th>
		<th>EventPhotoURL</th>
        <th></th>
    </tr>

    @foreach (var e in Model)
    {
        <tr>
            <td>@e.EventID</td>
            <td>@e.EventTitle</td>
            <td>@e.EventDate</td>
            <td>@e.EventLocation</td>
			<td>@e.EventDescription</td>
            <td>
                <button data-get="/Product/Update/@e.EventID">Update</button>
                <button data-post="/Product/Delete/@e.EventID">Delete</button>
                <img src="/events/@e.EventPhotoURL" class="">
            </td>
        </tr>
    }
</table>
